<article class="card{% if cardStyle %} {{ cardStyle }}{% endif %}">
  <h3>{{ card.title }}</h3>
  
  {% if card.svg %}
  <div class="card-svg">
    {% include "svg/" + card.svg + ".njk" %}
  </div>
  {% endif %}
  
  {{ card.content | markdown | safe }}
  
  {% if card.details %}
  <details>
    <summary>Read more</summary>
      {{ card.details | markdown | safe }}
  </details>
  {% endif %}
  
  {% if card.quotee %}
  <h3>{{ card.quotee }}</h3>
  {% endif %}
</article>