<section>
  <form action="" class="orange-text">
    <label for="flname">Name</label>
    <br />
    <input type="text" id="flname" name="flname" />
    <br />
    <label for="company">Company</label>
    <br />
    <input type="text" id="company" name="company" />
    <br />
    <label for="address">Email address</label>
    <br />
    <input type="text" id="address" name="address" />
    <br />
    <input type="radio" id="simple" name="option" value="Simple Page" />
    <label for="simple">Simple page</label>
    <input type="radio" id="custom" name="option" value="Custom page" />
    <label for="custom">Custom page</label>
    <input type="radio" id="other" name="option" value="Other inquiry" />
    <label for="other">Other inquiery</label>
    <br />
    <label for="message">Message</label>
    <br />
    <input type="text" id="message" name="message" />
    <br />
    <input type="submit" value="Submit" />
  </form>
</section>
s