<footer class="standard-container">
    {% include "svg/chunky-monogram-dot.njk" %}
  <span>
  <script>
    document.write(new Date().getFullYear());
  </script>
  </span>

  <div class="legal-links">
      <a class="font-small" href="/privacy-policy">Privacy Policy</a>
      <a class="font-small" href="/terms-and-conditions">Terms and Conditions</a>
    </div>
</footer>
