<footer class="standard-container">
  <p>Green Heron</p>
  <script>
    document.write(new Date().getFullYear());
  </script>
  <div class="legal-links">
      <a href="/privacy-policy">Privacy Policy</a>
      <a href="/terms-and-conditions">Terms and Conditions</a>
    </div>
</footer>
