<header class="unselectable">
  {% if page.url == "/" %}
    <span class="current-page" aria-current="page">green heron</span>
  {% else %}
    <a href="/">green heron</a>
  {% endif %}
  
  {% if page.url == "/contact.html" %}
    <span class="current-page" aria-current="page">contact</span>
  {% else %}
    <a href="/contact">contact</a>
  {% endif %}
</header>