<header class="container-width-full | unselectable">
  {% if page.url == "/" %}
    <div class="head-left" aria-current="page">
        {% include "svg/monogram--no-dots.njk" %}
    </div>
  {% else %}
    <a class="head-left" href="/">
        {% include "svg/monogram--no-dots.njk" %}
    </a>
  {% endif %}
  <div class="head-right">
    <div class="ball"></div>
    {% if page.url == "/contact.html" %}
    <span aria-current="page">contact</span>
    {% else %}
    <a href="/contact">contact</a>
    {% endif %}
  </div>
</header>