<header class="container-width-full | unselectable">
  {% if page.url == "/" %}
    <a class="head-left" href="/contact">
        {% include "svg/chunky-monogram.njk" %}
    </a>
  {% else %}
    <a class="head-left" href="/">
        {% include "svg/chunky-monogram.njk" %}
    </a>
  {% endif %}
  <div class="head-right">
    <div class="ball"></div>
  </div>
</header>
<!-- aria-current="page" -->