<section class="hero-container | unselectable">
  <a class="unselectable" href="#intro">
    {% include "svg/logo.njk" %}
  </a>
  <h1>green heron</h1>
  <p>sustainable web design & development</p>
</section>
