<section id="intro" class="standard-container container-width-wide | intro">
  <div class="__six-grid">
    <figure>
    {% include "svg/four-d-bean.njk" %}
    </figure>
        {% for card in block.cards %}
            {% set cardStyle = "intro-card" %}
            {% include "components/card.njk" %}
        {% endfor %}
  </div>
  <figure class="bean-container">{% include "svg/four-d-bean.njk" %}</figure>
</section>
