<section class="pricing" id="offer">
  {% include "svg/blaane.njk" %}
  <div class="grass">
    <div class="standard-container container-width-wide">
      <h2>Founding client offer</h2>
      <p>
        As it is early days for Green Heron, I am holding an opening offer for
        new clients. Huzzah!
      </p>
      <div class="offers">
        <a href="/contact" class="standard-container | card offer">
          <h3>Custom design</h3>
          <div class="price">
            <h4>€</h4>
            <h4>650</h4>
          </div>
          <ul>
            <li>Custom designed website with up to two design iterations</li>
            <li>1-5 pages</li>
            <li>Headless external CMS</li>
            <li>Developed with sustanability in mind spaces</li>
          </ul>
        </a>
        <a href="/contact" class="standard-container | card offer">
          <h3>Simple design</h3>
          <div class="price">
            <h4>€</h4>
            <h4>300</h4>
          </div>
          <ul>
            <li>Custom designed website with up to two design iterations</li>
            <li>1-5 pages</li>
            <li>Headless external CMS</li>
            <li>Developed with sustanability in mind space</li>
          </ul>
        </a>
      </div>
      {% for card in block.cards %} {% set cardStyle = "offer" %} {% include
      "components/card.njk" %} {% endfor%}
    </div>
    <p>test</p>
  </div>
  {% include "svg/bottom-wave.njk" %}
</section>
