<section class="ground">
  {% include "svg/blaane.njk" %}
  <div class="grass">
    <article>
      <h2 class="font-huge">get in touch!</h2>
      <p>
        For my first customers with Green Heron I offer discounted prices in
        exchange for testimonials. Send me an
        <a href="mailto:hei@greenheron.design">email</a>, or fill out my
        <a href="/contact">contact form.</a>
      </p>
    </article>
      <div class="centerflex wrap | illustrations">
        <figure class="illustration logo-container">
          {% include "svg/chunky-monogram-dot.njk" %}
        </figure>
        <figure class="illustration image-container">
          <img
            alt="A green heron, Photo by Iván Hernández-Cuevas"
            class="heron"
            src="/heron-foilage-square.webp"
          />
        </figure>
      </div>
  </div>
  {% include "svg/bottom-wave.njk" %}
</section>
