<section class="standard-container container-width-wide">
  <article class="card quote-card">
    <h3>My commitment</h3>
    <p>
      Green Heron is dedicated to make web pages that are:
      <br /><br /><b>Environmentally sustainable</b> <br />
      This is achieved by focusing the design and development phases on making an end product (webpage) that is as energy efficient as possible in terms of performance and code size. In addition to this, the chosen hosting provider is using green energy.
      <br /><br /><b>Secure</b><br/>
      By serving webpages as static HTML, hacking is viritualy impossible as there are no entry points for facetious players. Spam protection, encryption and SSL certificates is handled by the host provider and is of industry standard.
      <br /><br /><b>Lightweight and fast</b><br/>
      In conjunction with being more environmentally friendly, focusing development on reducing code size also improves page speeds and loading times. 
      <br /><br /><b>Accessible</b><br/> 
      Working with relative font sizes and semantic HTML ensures
      that the resulting web pages are screen reader friendly and conform to
      custom font sizes for the people that need them. My design process also
      integrates standard UX guidelines to ensure expected behaviours for basic
      navigation.
      <br /><br /><b>Beautiful</b><br/>
      I use my background in fine art and web development to design
      webpages that represent my client’s businesses or practices. I do this in
      creative ways that are within the constraints of my environmental
      commitments and take full use of the light weight technologies that are
      available today. The pages I make are made to be responsive on all screen
      widths down to at least 320 pixels, which is well below the smallest screen sizes in use today.
      <!-- <br /><br />
      <b>rewrite this: Has a low bar of entry</b><br/> With the intention of making the choice
      to use green technologies I have included a basic setup option, to make
      green webpages more easily accessible for anyone. -->
    </p>
  </article>
  <h2>Testimonials</h2>
  <article class="card quote-card">
    <p><i>
      I had the pleasure of working with and mentoring Jørgen at Vibe Digital,
      where he freelanced as a UI designer and Mid-level Frontend developer for
      10 months. Jørgen's expertise and creative flair was clear from the
      outset, as he crafted the initial design for a major eCommerce website
      that our client immediately approved. His designs were both visually
      appealing and highly functional, enhancing the user experience
      significantly.
      <br />
      <br />
      Jørgen's iterative approach and ability to incorporate feedback ensured
      the project's success, especially on a site featuring 2000 products.
      Additionally, his innovative prototype for a mobile menu system in Figma
      was a standout, demonstrating his proficiency and creativity in tackling
      usability challenges.
      <br />
      <br />
      Reliable, professional, and creative, Jørgen consistently met deadlines
      and communicated effectively with myself and our clients. His
      collaborative spirit made him an invaluable member of the team. I highly
      recommend Jørgen for any UI design or Frontend developer role.
    </i>
    </p>
    <br />
    <span class="quotee">Justin Glück</span><br/>
    <span class="quotee">Vibe digital Media</span>
  </article>
</section>