<section class="standard-container container-width-wide">
  <div class="card quote-card">
    <p>
      I had the pleasure of working with and mentoring Jørgen at Vibe Digital,
      where he freelanced as a UI designer and Mid-level Frontend developer for
      10 months. Jørgen's expertise and creative flair was clear from the
      outset, as he crafted the initial design for a major eCommerce website
      that our client immediately approved. His designs were both visually
      appealing and highly functional, enhancing the user experience
      significantly.
      <br />
      <br />
      Jørgen's iterative approach and ability to incorporate feedback ensured
      the project's success, especially on a site featuring 2000 products.
      Additionally, his innovative prototype for a mobile menu system in Figma
      was a standout, demonstrating his proficiency and creativity in tackling
      usability challenges.
      <br />
      <br />
      
      Reliable, professional, and creative, Jørgen consistently met deadlines
      and communicated effectively with myself and our clients. His
      collaborative spirit made him an invaluable member of the team. I highly
      recommend Jørgen for any UI design or Frontend developer role.
    </p>
    <br />

    <h3>Justin Glück</h3>
  </div>
</section>
