<section class="container-width-narrow | testimonials">
  <h2 class="font-huge">Testimonials</h2>
  <p>
    As the first pages from, and testimonials for Green Heron are still being
    made, here is a testimonial from a previous employer of mine:
  </p>
  <div class="flex-container small-gap">
    <figure class="standard-container">
      {% include "svg/no-image.njk" %}
      <span>Justin Glück</span>
      <span>Vibe Digital Media</span>
    </figure>
    <article class="two-thirds">
      <p class="text-right border-dark">
        I had the pleasure of working with and mentoring Jørgen at Vibe Digital,
        where he freelanced as a UI designer and Mid-level Frontend developer
        for 10 months<span class="period">.</span> Jørgen's expertise and creative flair was clear from the
        outset, as he crafted the initial design for a major eCommerce website
        that our client immediately approved<span class="period">.</span> His designs were both visually
        appealing and highly functional, enhancing the user experience
        significantly<span class="period">.</span>
      </p>
      <p class="text-right border-transparent">
        Jørgen's iterative approach and ability to incorporate feedback ensured
        the project's success, especially on a site featuring 2000 products<span class="period">.</span>
        Additionally, his innovative prototype for a mobile menu system in Figma
        was a standout, demonstrating his proficiency and creativity in tackling
        usability challenges<span class="period">.</span>
      </p>
      <p class="text-right border-transparent">
        Reliable, professional, and creative, Jørgen consistently met deadlines
        and communicated effectively with myself and our clients<span class="period">.</span> His
        collaborative spirit made him an invaluable member of the team<span class="period">.</span> I highly
        recommend Jørgen for any UI design or Frontend developer role<span class="period">.</span>
      </p>
    </article>
  </div>
</section>
