* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1.4;
  /* vertical-align: baseline; */
  /* background: transparent; */
  font-family: 
  Arial, 
  /* Georgia,  */
  "Trebuchet MS"

   ;
}

h1 {
  font-size: 12vw;
  padding-top: 1rem;
  /* color: #ffd8df; */
  background: linear-gradient(0deg,rgba(255, 216, 223, 1) 0%, rgb(255, 166, 222) 100%);
  -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
  text-shadow: 0px 0px 5rem rgb(255, 255, 161);
}



body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* vertical-align: center; */

  height: 100vh;
  width: 100vw;
  background: linear-gradient(
      217deg,
      rgb(204 255 204 / 70%),
      rgb(204 255 204 / 0%) 70.71%
    ),
    linear-gradient(
      127deg,
      rgb(255 255 230 / 80%),
      rgb(255 255 230 / 0%) 70.71%
    ),
    linear-gradient(
      336deg,
      rgb(158, 254, 211),
      rgb(102 204 100 / 0%) 70.71%
    ),
    radial-gradient(at 0% 60%, #66ff66 1%, rgba(204, 255, 204, 0) 27%);
  background-size: 200% 200%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  20% {
    background-position: 40% 90%;
  }
  40% {
    background-position: 80% 100%;
  }
  60% {
    background-position: 100% 50%;
  }
  80% {
    background-position: 60% 20%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  width: 100%;
}

.headerTop {
  width: 100%;
  background-color: #4cc04c;
  background-image: linear-gradient(0deg,rgba(76, 192, 76, 0) 0%, rgba(254, 255, 222, 0.259) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerText {
    color: #ffd8df;
    margin: -2rem 0 0;
    padding-bottom: 1rem; 
}

svg {
  width: 100%;
  height: 100%;
}

svg path {
  fill: #4cc04c;
}

.wave {
  --divider-height: 2rem;
  top: calc(var(--divider-height) / 2 * -1);

  height: var(--divider-height);
  width: 100%;
  /* alternatively, could get rid of the rect, and move the svg container further down */
  float: left;
  z-index: 1;
  /*   outline: 1px solid red; */
  /* fill: blue; */
}

/* for use in case of button:
button {
  user-select: none;
} */

.container {
  /* background-color: yellow; */
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

footer {
  height: 4rem;
  width: 100%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* @media (prefers-color-scheme: dark) {} */
