<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<section class="main-container">
  {% include "components/header.njk" %}
  <main>

    {% if body %}
      <div class="main-content">
        {{ body | safe }}
      </div>
    {% endif %}
    
    {% if blocks %}
      {% for block in blocks %}
        {% if block.type == "hero" %}
          {% include "components/hero.njk" %}
        
        {% elif block.type == "blaane" %}
          {% include "components/blaane.njk" %}
        
        {% elif block.type == "testing_block" %}
          {% include "components/testing-block.njk" %}
        {% endif %}
      {% endfor %}
    {% endif %}

  </main>
</section>
  {% include "components/footer.njk" %}
</body>
</html>