<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Sustainable web pages designed and developed with love and creativity in Portugal, for a greener web."/>
    <meta property="og:title" content="{{ title or 'Green Heron Web Design' }}"/>
    <meta property="og:description" content="Sustainable web pages designed and developed with love and creativity in Portugal, for a greener web."/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://greenheron.design{{ page.url or '' }}"/>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Green Heron Web Design",
        "url": "https://greenheron.design",
        "logo": "https://greenheron.design/full-logo.png",
        "description": "Sustainable web pages designed and developed with love and creativity in Portugal, for a greener web.",
        "founder": {
          "@type": "Person",
          "name": "Jørgen N. Bjørnstad"
        },
        "areaServed": "Europe",
        "address": {
        "@type": "PostalAddress",
        "addressCountry": "PT"
        }
        "serviceType": "Web Design and Development",
        "specialty": "Sustainable Web Development"
      }
    </script>
    <meta property="og:site_name" content="Green Heron Web Design" />
    <meta property="og:image" content="https://greenheron.design/full-logo.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Green Heron Web Design Logo" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles.css" />
    {% include "scripts/dark_mode_start.njk" %}
  </head>
  <body class="c-screen-height c-flex c-flex-center" id="top">
    <script>
      applyTheme(getCurrentTheme());
    </script>
    {% include "components/header.njk" %}
    <main class="c-flex c-flex-center">
      {% if content %}
      <section class="container-width-narrow | info" aria-label="Information">
        {{ content | safe }}
      </section>
      {% endif %} 
      
      {% if blocks %} 
        {% set needsParallax = false %}
        {% for block in blocks %} 
          {% if block.type == "hero" %} 
            {% include "blocks/hero.njk" %} 
          {% elif block.type == "intro" %}
            {% include "blocks/intro.njk" %} 
          {% elif block.type == "mountainwave" %}
            {% include "blocks/mountainwave.njk" %} 
            {% set needsParallax = true %}
          {% elif block.type == "testimonials" %} 
            {% include "blocks/testimonials.njk" %} 
          {% elif block.type == "contact-block" %} 
            {% include "blocks/contact-block.njk" %}
          {% elif block.type == "sent" %} 
            {% include "blocks/sent.njk" %} 
          {% endif %} 
        {% endfor %} 
      {% endif %}
    </main>
    {% include "components/footer.njk" %}
    {% include "scripts/dark_mode_end.njk" %}
    {% if needsParallax %}
      {% include "scripts/parallax.njk" %}
    {% endif %}  
</body>
</html>
