<section aria-label="Contact form" class="center container-width-narrow | contact">
  <span>Let me know how I can help you!</span>
  <form action="/submit-contact" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Type here" required />
    <label for="address">Email Address</label>
    <input type="email" id="address" name="address" required />
    <label for="message">Message</label>
    <textarea maxlength="4000" id="message" name="message" required></textarea>
    <input type="submit" value="Send" />
  </form>
</section>
