<section class="standard-container container-width-narrow | hero-container | unselectable">
    {% include "svg/chunky-logo.njk" %}
  <h1> <a href="#intro">sustainable web design<br/>&#38; development</a></h1>
</section>

