<section aria-label="Intro" id="intro" class="standard-container container-width-narrow | intro">
  <article class="flex-container small-gap">
    <figure class="jorg">
      <img alt="Portrait of Jørgen" class="round-image" src="/jorgen.webp"/>
    </figure>
    <div class="two-thirds right">
<div class="two-thirds right">
  {% for paragraph in block.content.paragraphs %}
    {{ paragraph | markdown | safe }}
  {% endfor %}
</div>
    </div>
  </article>
  <article class="flex-container big-gap reverse">
    <div class="two-thirds | info-two">
      <h2 class="font-big">{{ block.content.workingTitle }}</h2>
      {{ block.content.workingIntro | markdown | safe }}
      {{ block.content.workingInstructions | markdown | safe }}
      <br/>
      {% for detail in block.content.details %}
      <details>
        <summary>{{ detail.title }}</summary>
        {{ detail.content | markdown | safe }}
      </details>
      {% endfor %}
    </div>
    <figure class="standard-container | | birbs">
      {% include "svg/birb1.njk" %} 
    </figure>
  </article>
</section>