<section class="ground">
    <button class="ball" aria-label="Toggle dark/light theme"></button>
  {% include "svg/blaane.njk" %}
  <div class="grass">
    <article>
      <h2>Get in touch!</h2>
      {% include "svg/squiggle.njk" %}
      <p>
        For my first customers with Green Heron I offer discounted prices in
        exchange for testimonials<span class="period">.</span> Feel free to send me an
        <a href="mailto:hei@greenheron.design">email</a>, or fill out my
        <a href="/contact">contact&nbsp;form.</a> Let's talk!
      </p>
    </article>
      <div class="centerflex wrap | illustrations">
        <figure class="illustration logo-container">
          {% include "svg/chunky-monogram-dot-static.njk" %}
        </figure>
        <figure class="illustration image-container">
          <img
            alt="A green heron, Photo by Iván Hernández-Cuevas"
            class="round-image | heron"
            src="/heron-foilage-square.webp"
          />
        </figure>
      </div>
  </div>
  {% include "svg/bottom-wave.njk" %}
</section>
