<section aria-label="Get in touch" class="ground">
    <button class="ball" aria-label="Toggle dark/light theme"></button>
  {% include "svg/blaane.njk" %}
  <div class="grass">
    <article class="container-width-narrow">
      <h2>Get in touch!</h2>
      {% include "svg/squiggle.njk" %}
      <p>I would love to work with you wether you are representing a sustainable organisation, a business that wants to make more ethical choices, or an individual with a need for a webpage<span class="period">.</span> If you are on a budget I am happy to explore what solutions I can offer you, don't be afraid to ask!
      My goal is to have making the green choice accessible for everyone<span class="period">.</span></p><p>
        For my first customers with Green Heron I offer discounted prices in
        exchange for testimonials<span class="period">.</span> Fill out my
        <a href="/contact" rel="noopener noreferrer">contact&nbsp;form</a> to get in touch<span class="period">.</span>Let's talk!
      </p>
      <br/>
      <p>The services that I offer are<span class="period">:</span>
        <ul>
          <li>Branding</li>
          <li>Web Design</li>
          <li>Web Development</li>
          <li>Hosting</li>
          <li>Site Maintainance</li>
          <li>Headless CMS</li>
        </ul>
      </p>
    </article>
      <div class="centerflex wrap | illustrations">
        <figure class="illustration logo-container">
          {% include "svg/chunky-monogram-dot-static.njk" %}
        </figure>
        <figure class="illustration image-container">
          <img
            alt="A green heron, Photo by Iván Hernández-Cuevas"
            class="round-image"
            src="/heron-foilage-square.webp"
          />
        </figure>
      </div>
  </div>
  {% include "svg/bottom-wave.njk" %}
</section>
