<section aria-label="Get in touch" class="ground">
  <button class="ball" aria-label="Toggle dark/light theme"></button>
  {% include "svg/blaane.njk" %}
  <div class="grass">
    <article class="container-width-narrow">
      <h2>
        {{ block.content.contactTitle }}
      </h2>
      {% include "svg/squiggle.njk" %}
      {% for paragraph in block.content.paragraphs %}
        {{ paragraph | markdown | safe }}
      {% endfor %}
    </article>
    <div class="centerflex wrap | illustrations">
      <figure class="illustration logo-container">
        {% include "svg/chunky-monogram-dot-static.njk" %}
      </figure>
      <figure class="illustration image-container">
        <img
            alt="A green heron, Photo by Iván Hernández-Cuevas"
            class="round-image"
            src="/heron-foilage-square.webp"
/>
      </figure>
    </div>
  </div>
  {% include "svg/bottom-wave.njk" %}
</section>