<section class="container-width-small">
<h1>Message sent!</h1>
<p class="space-below">Thank you for contacting me! I will get back to you as soon as possible.</p>
<a href="/">Back to home page</a>
</section>