<section aria-label="Testimonials" class="container-width-narrow | testimonials">
  <h2 class="font-huge">{{ block.content.title }}</h2>
  {# {{ block.content.description | markdown | safe }} #}
  
  {% for testimonial in block.content.testimonials %}
    <div class="flex-container small-gap justify-center | quote-container">
      <div class="standard-container">
        {% if testimonial.image.endsWith('.njk') %}
          {% include testimonial.image %}
        {% else %}
        <figure class="image-container">
          <img class="round-image" src="/{{ testimonial.image }}" alt="Photo of {{ testimonial.name }}"/>
        </figure>
        {% endif %}
        <span>{{ testimonial.name }}</span>
        <span>{{ testimonial.company }}</span>
      </div>
      
      <article class="two-thirds right">
        {% for paragraph in testimonial.paragraphs %}
          {{ paragraph | markdown | safe }}
        {% endfor %}
      </article>
    </div>
  {% endfor %}
</section>