
/* COMPOSITION */
.push-footer {
  height: 100vh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  div:first-child {
    flex-grow: 1;
  }
}

.standard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.height-flex-grow {
  flex-grow: 1;
}

.full-height {
  height: min(100%);
}

.container-width-full {
  width: 100%;
}

.container-width-wide {
  width: min(95%, 80rem);
}

.container-width-narrow {
  width: min(90dvw, 50rem);
}

.center {
  align-content: center;
  height: 100%;
}

.twelve-grid {
  display: grid;
}