/* COMPOSITION */
.push-footer {
  height: 100vh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* div:first-child {
    flex-grow: 1;
  } */
  .height-flex-grow {
    flex-grow: 1;
  }
}

.standard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-height {
  height: min(100%);
}

.container-width-full {
  width: 100%;
}

.container-width-wide {
  width: min(95%, 80rem);
}

.container-width-narrow {
  width: min(90%, 55rem);
}

.max-content {
  width: 100%;
  padding: 0 5vw;
}

.center {
  align-content: center;
  height: 100%;
}

.six-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  align-items: baseline;
  gap: 5rem 3rem;
}

.centerflex {
  display: flex;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  &.small-gap {
    gap: 2rem;
  }
  &.big-gap {
    gap: 5rem;
  }
  &.reverse {
    flex-wrap: wrap-reverse;
  }
}

.one-third {
  /* flex-basis: 20rem; */
  width: min(80%, 20rem);
}

.two-thirds {
  flex-grow: 2;
  flex-basis: 30rem;
  width: clamp(100%, 40rem, 100%);
}

.text-right {
  border-left-width: min(calc(0.4rem + 2.9vw), 2.6rem);
  border-left-style: solid;
  padding-left: clamp(1rem, 6vw, 2rem);
}

.border-dark {
  border-left-color: var(--green-black);
}

.border-transparent {
  border-left-color: transparent;
}

article:not(:last-child) {
  margin-bottom: 4rem;
}
