@font-face {
  font-family: 'Arvo';
  src: url('/fonts/Arvo-Regular.woff2') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arvo';
  src: url('/fonts/Arvo-Bold.woff2') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arvo';
  src: url('/fonts/Arvo-Italic.woff2') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1.55;
  /* vertical-align: baseline; */
  /* background: transparent; */
  font-family: "Arvo", "Trebuchet MS", Arial;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  text-wrap: balance;
  margin-bottom: 1em;
  font-weight: normal;
}

button,
a,
summary {
  cursor: pointer;
}
