/* UTILITIES */
:root {
  --one: oklch(0.9859 0.0288 42.84);
  --two: oklch(0.2658 0.0821 160.09);
  --three: oklch(0.7867 0.1741 50.56);
  --four: oklch(0.9859 0.0288 42.84 /60%);
  --green: oklch(0.661 0.1708 174.11);
  --green-dark: oklch(0.5322 0.1371 174.11);
  --green-black: oklch(0.2658 0.0821 160.09);
  --orange: oklch(0.706 0.2372 42.84);
  --orange-bright: oklch(0.7867 0.1741 50.56);
  --orange-white: oklch(0.9859 0.0288 42.84);
  --pink: oklch(0.7054 0.2562 3.43);
  --blue-dark: oklch(0.2221 0.062 235.7);
  --mountain-a-start: oklch(0.9287 0.0357 249.52);
  --mountain-a-end: oklch(0.9836 0.016 206.44);
  --mountain-b-start: oklch(0.825 0.1025 243.84);
  --mountain-b-end: oklch(0.9363 0.0563 210.15);
  --mountain-c-start: oklch(0.6705 0.1936 252.32);
  --mountain-c-end: oklch(0.9448 0.0935 190.19);
  --mountain-d-start: oklch(0.5484 0.124 239.23);
  --mountain-d-end: oklch(0.7651 0.1811 217.0404);

  @media (prefers-color-scheme: dark) {
    --one: oklch(0.2221 0.062 235.7);
    --two: oklch(0.9859 0.0288 42.84);
    --three: oklch(0.5668 0.2265 11.57);
    --four: oklch(0.5668 0.2265 11.57);
    --mountain-a-start: oklch(8.848% 0.06132 264.073);
    --mountain-a-end: oklch(8.848% 0.06132 264.073);
    --mountain-b-start: oklch(10.658% 0.01976 222.441);
    --mountain-b-end: oklch(24.246% 0.04204 210.697);
    --mountain-c-start: oklch(17.555% 0.04334 244.057);
    --mountain-c-end: oklch(37.887% 0.0657 188.839);
    --mountain-d-start: oklch(30.124% 0.06562 162.483);
    --mountain-d-end: oklch(29.348% 0.05583 174.027);
  }
}

body.light-theme {
  --one: oklch(0.9859 0.0288 42.84);
  --two: oklch(0.2658 0.0821 160.09);
  --three: oklch(0.7867 0.1741 50.56);
  --four: oklch(0.9859 0.0288 42.84 /60%);
  --mountain-a-start: oklch(0.9287 0.0357 249.52);
  --mountain-a-end: oklch(0.9836 0.016 206.44);
  --mountain-b-start: oklch(0.825 0.1025 243.84);
  --mountain-b-end: oklch(0.9363 0.0563 210.15);
  --mountain-c-start: oklch(0.6705 0.1936 252.32);
  --mountain-c-end: oklch(0.9448 0.0935 190.19);
  --mountain-d-start: oklch(0.5484 0.124 239.23);
  --mountain-d-end: oklch(0.7651 0.1811 217.0404);
}

body.dark-theme {
  --one: oklch(0.2221 0.062 235.7);
  --two: oklch(0.9859 0.0288 42.84);
  --three: oklch(0.5668 0.2265 11.57);
  --four: oklch(0.5668 0.2265 11.57);
  --mountain-a-start: oklch(8.848% 0.06132 264.073);
  --mountain-a-end: oklch(8.848% 0.06132 264.073);
  --mountain-b-start: oklch(10.658% 0.01976 222.441);
  --mountain-b-end: oklch(24.246% 0.04204 210.697);
  --mountain-c-start: oklch(17.555% 0.04334 244.057);
  --mountain-c-end: oklch(37.887% 0.0657 188.839);
  --mountain-d-start: oklch(30.124% 0.06562 162.483);
  --mountain-d-end: oklch(29.348% 0.05583 174.027);
}

.period {
  color: var(--three);
  margin-right: 0.3rem;
  line-height: 0;
}

p,
ul,
ol,
span,
details,
label,
input,
textarea,
h2,
h3 {
  color: var(--two);
}

a {
  color: var(--three);
}

body {
  background: var(--one);
}

.ball {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--three);
}

p,
ul,
ol,
a,
span,
details,
label,
input,
textarea {
  font-size: clamp(1.2rem, 1rem + 2vw, 1.8rem);
}

.footnote {
  font-size: 1rem;
}

.font-small {
  font-size: clamp(1.2rem, 1rem + 1vw, 1.8rem);
}

h1,
h2,
h3,
.font-big {
  font-size: clamp(1.8rem, 1rem + 4vw, 2.2rem);
}

.font-huge {
  font-size: clamp(2rem, 2rem + 4vw, 6.2rem);
}

.orange-text {
  color: var(--orange);
}

.unselectable {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.svg-line {
  fill: var(--two);
}

.svg-elipse {
  fill: var(--three);
}

.svg-invert {
  fill: var(--one);
}

.svg-line--static {
  fill: var(--green-black);
}

.svg-elipse--static {
  fill: var(--orange-bright);
}

.svg-line,
.svg-elipse,
.svg-invert {
  transition: fill 3s ease;
}

.round-image {
  border-radius: 50%;
  width: 100%;
  height: auto;
}
