footer {
  padding: 3rem 0 1rem;
  color: var(--pink);
  p {
    margin-bottom: 0.6rem;
  }
  .legal-links {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 17rem;
  }
  a {
    color: var(--green-dark);
  }
}