/* BLOCKS */

/* Header */
header {
  display: flex;
  justify-content: space-between;
  /* .head-right {
    display: flex;
    align-items: baseline;
    border-bottom: solid calc(0.2rem + 0.3vw);
    height: fit-content;
  } */
  .head-left {
    svg {
      height: 5rem;
    }
  }
  .head-left,
  .head-right {
    margin: min(5vw, 2rem) 0 0 min(5vw, 2rem);
  }
  a,
  span {
    text-decoration: none;
    font-size: clamp(1.5rem, 1.6rem + 1vw, 2rem);
    color: var(--green-black);
  }
  a:hover {
    color: var(--orange);
  }
}
