/* BLOCKS */

/* Header */
header {
  display: flex;
  justify-content: space-between;
  a, span {
    margin: 1rem 3%;
    text-decoration: none;
  }
  span {
    color: var(--orange);
    
  }
  a {
    color: var(--pink);
    font-weight: bold;
  }
  /* a:nth-child(2) {
    color: var(--pink);
  } */
}
