.intro {
  padding-top: 2rem;
  margin-bottom: 6rem;
  .jorg {
    width: min(80%, 14rem);
    margin-inline: auto;
    align-content: center;
  }
  .birbs {
    margin-top: 3rem;
    margin-inline: auto;
  }
  h2 {
    border-left: dotted 0.7em var(--three);
    padding-left: 1rem;
    line-height: 1.1;
  }
  details:first-child {
    margin-top: 1rem;
  }
  details:open {
    padding-bottom: 0.5rem;
    summary {
      color: var(--three);
    }
  }
  summary {
    margin-left: -1.5rem;
  }
  svg:first-child {
    width: 15rem;
  }
  svg:nth-child(2) {
    width: 10rem;
  }
  svg:last-child {
    width: 14rem;
  }
  svg:not(:last-child) {
    margin-bottom: 10rem;
  }
  article:has(details) {
    margin-left: 1rem;
  }
}
