.pricing {
  width: 100%;
  .grass {
    width: 100%;
    background: linear-gradient(var(--green-dark), var(--green));
    h2 {
      margin: 5rem 0 3%;
      color: var(--orange-white);
    }
    p {
      color: var(--pink-white);
      width: min(26rem, 80%);
      font-weight: bold;
      font-size: 1.1rem;
    }
    .offers {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: max(19rem, 80%);
      gap: 3rem;
    }
  }
}
