.ground {
  width: 100%;
  .ball {
    margin-left: 15%;
    margin-bottom: -1%;
  }
  .grass {
    /* margins to avoid accidental whitespace between svg & container in ff */
    margin-top: -0.5rem;
    margin-bottom: -0.1rem;
    width: 100%;
    padding: 2rem 1rem;
    background: linear-gradient(var(--green-dark) 5%, var(--green));
    article {
      width: min(100%, 54rem);
      margin-inline: auto;
      .squiggle {
        width: clamp(19rem, 73vw, 52rem);
        /* margin-left: clamp(-7rem, -8vw, -2.1rem); */
        margin-bottom: clamp(-2.9rem, -5vw, -1.8rem);
        margin-left: 0; 
      }
      h2,
      p {
        color: white;
      }
      h2 {
        font-size: clamp(2.3rem, 9vw, 6.2rem);
        margin: 0 0 -1em;
        text-indent: 11%; 
      }
      p {
        padding-bottom: 1em;
        text-indent: max(2.5rem, 9%);
      }
      a {
        color: var(--orange-bright);
      }
      @media screen and (min-width: 65rem) {
        .squiggle{
          margin-left: clamp(-7rem, -8vw, -2.1rem);;
        }
        p,
        h2{
          text-indent: 0;
        }
      }
    }
    .illustrations {
      gap: 6rem 4rem;
      margin-top: 4rem;
      .illustration {
        width: min(100%, 25rem);
      }
      .logo-container {
        background: white;
        height: 100%;
        aspect-ratio: 1 / 1;
        svg {
          margin: 26% 36% 0;
        }
      }
      img {
        width: 100%;
        margin-inline: auto;
      }
    }
  }
}
