.testimonials {
  h2 {
    border-bottom: solid min(calc(0.4rem + 2.9vw), 2.6rem) var(--two);
    width: fit-content;
    padding: 4rem 0 0.8rem;
    margin-bottom: 0.5em;
  }
  .quote-container {
    margin: min(3rem + 3vw, 6rem) 0;
    p {
      font-style: italic;
    }
    p:not(last-child) {
        margin-bottom: 1rem;
    }
    svg, .standard-container {
      width: min(100%, 20rem);
      margin-bottom: 1.5rem;
    }
    span {
      color: var(--three);
      line-height: 1.8;
    }
  }
}
